* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #323431;
  text-decoration: none;
}

/*sitemanage-box css*/

.sitemanage-box {
  width: 18.75rem;
  height: 33.35rem;
  background: #eee;
  /*header css*/
}

.sitemanage-box header {
  width: 100%;
  height: 2.225rem;
  background: #fdfffc;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  border-bottom: 0.025rem solid #bec0bd;
  box-sizing: border-box;
}

.sitemanage-box header .return {
  width: 0.475rem;
  height: 0.8rem;
  background: url(../img/return.png) no-repeat;
  background-size: 0.475rem 0.8rem;
  text-indent: -9999rem;
}

.sitemanage-box header h4 {
  font-size: 0.925rem;
  color: #5ca32b;
  font-weight: normal;
  margin-left: 6.45rem;
  box-sizing: border-box;
}

.sitemanage-box .info-box {
  height: 6.025rem;
  background: #fdfffc;
  margin-top: 0.45rem;
  border-bottom: 0.025rem solid #c6c6c6;
  box-sizing: border-box;
}

.sitemanage-box .info-box .info {
  height: 3.7rem;
  border-bottom: 0.025rem solid #e4e6e3;
  box-sizing: border-box;
}

.sitemanage-box .info-box .info .detalied-info {
  height: 1.8rem;
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  align-items: center;
  box-sizing: border-box;
}

.sitemanage-box .info-box .info .detalied-info span {
  font-size: 0.6rem;
  color: #2d2d2d;
}

.sitemanage-box .info-box .info li {
  height: 1.6rem;
  line-height: 1.6rem;
  padding: 0 0.5rem;
}

.sitemanage-box .info-box .info li span {
  font-size: 0.625rem;
  color: #353535;
}

.sitemanage-box .info-box .default {
  height: 2.35rem;
  line-height: 2.35rem;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  justify-content: space-between;
  box-sizing: border-box;
}

.sitemanage-box .info-box .default .sitel {
  display: flex;
  align-items: center;
  height: 0.5rem;
  line-height: 0.5rem;
}

.sitemanage-box .info-box .default .sitel a {
  font-size: 0.475rem;
  color: #343432;
  padding-left: 0.75rem;
}

.sitemanage-box .info-box .default .sitel .siter {
  background: url(../img/radus.png) no-repeat;
  background-size: 0.5rem 0.5rem;
}

.sitemanage-box .info-box .default .editl {
  display: flex;
  align-items: center;
  height: 0.75rem;
  padding-left: 8rem;
  line-height: 0.75rem;
}

.sitemanage-box .info-box .default .editl a {
  font-size: 0.475rem;
  color: #343432;
  padding-left: 0.9rem;
}

.sitemanage-box .info-box .default .editl .edit {
  background: url(../img/edit.png) no-repeat;
  background-size: 0.75rem 0.75rem;
}

.sitemanage-box .info-box .default .deletel {
  display: flex;
  align-items: center;
  height: 0.75rem;
  line-height: 0.75rem;
}

.sitemanage-box .info-box .default .deletel a {
  font-size: 0.475rem;
  color: #343432;
  padding-left: 0.9rem;
}

.sitemanage-box .info-box .default .deletel .delete {
  background: url(../img/delete.png) no-repeat;
  background-size: 0.625rem 0.675rem;
}

.sitemanage-box .newsite {
  height: 1.875rem;
  padding-top: 1.2rem;
  padding-left: 4.825rem;
  box-sizing: border-box;
}

.sitemanage-box .newsite a {
  width: 9.05rem;
  height: 1.875rem;
  line-height: 1.875rem;
  font-size: 0.55rem;
  display: block;
  background: #dcdcdc;
  border: 0.025rem solid #bebebe;
  border-radius: 0.25rem;
  text-align: center;
}