.cityListHeader {
  height: 2.25rem;
  background: #fdfffc;
  border-bottom: 0.025rem solid #c6c6c6;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.cityListHeader a {
  flex: 1;
  width: 0.4rem;
  height: 0.8rem;
  margin-left: 0.55rem;
}

.cityListHeader a img {
  width: 0.4rem;
  height: 0.8rem;
  vertical-align: top;
}

.cityListHeader h1 {
  flex: 2;
  font-size: 0.9rem;
  color: #5ca32d;
  font-weight: bold;
}

.cityListLine {
  height: 0.475rem;
  background: url(../img/cityList-line.png) repeat-X;
}

.cityListNowAddress {
  align-items: center;
}

.cityListNowAddress .nowaddress {
  flex: 1;
  height: 2rem;
  display: block;
  border-bottom: 0.025rem solid #e4e6e3;
  padding-left: 0.5rem;
}

.cityListNowAddress .nowaddress a {
  font-size: 0.55rem;
  color: #676767;
}

.cityListChoose h2 {
  height: 2.0rem;
  line-height: 2.0rem;
  padding-left: 0.5rem;
  border-bottom: 0.025rem solid #e4e6e3;
  box-sizing: border-box;
  font-size: 0.55rem;
  color: #636363;
}

.cityListChoose .cityListChooseBox ul {
  height: 3.75rem;
  padding-bottom: 1.5rem;
}

.cityListChoose .cityListChooseBox ul li {
  width: 3.2rem;
  height: 1.375rem;
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.25rem;
  margin-top: 0.525rem;
  background: #dcdcdc;
  border-radius: 0.25rem;
  font-size: 0.5rem;
  line-height: 1.375rem;
  color: #363636;
}

.cityListLineProvince ul li {
  height: 2.0rem;
  line-height: 2.0rem;
  border-bottom: 0.025rem solid #e4e6e3;
  font-size: 0.55rem;
  color: #363634;
  padding-left: 0.5rem;
}