#box {
  height: 100%;
  background: #eee;
}

#box .header {
  width: 100%;
  height: 0.9rem;
  background: #fdfffc;
  padding: 0 0.16rem 0 0.16rem;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  justify-content: space-between;
  align-items: center;
}

#box .header > a {
  font-size: 0.24rem;
  color: #60a42b;
}

#box .header > h1 {
  font-size: 0.36rem;
  color: #5da42c;
  font-family: 'Microsoft Yahei';
  font-weight: bold;
  margin-left: -1.45rem;
}

#box .header > span {
  text-indent: -999.99rem;
}

#box .banner {
  width: 100%;
  height: 3.49rem;
}

#box .banner > a {
  width: 100%;
  height: 100%;
  display: block;
}

#box .banner > a > img {
  width: 100%;
}

#box .farm {
  padding: 0 0.16rem 0 0.16rem;
  width: 100%;
  box-sizing: border-box;
}

#box .farm > ul > li {
  margin-top: 0.18rem;
  width: 100%;
  height: 2.3rem;
  border-radius: 0.04rem;
  background: #fdfffc;
  display: -webkit-box;
  display: flex;
}

#box .farm > ul > li .img_view {
  padding-top: 0.12rem;
  padding-left: 0.12rem;
  width: 2.88rem;
  height: 100%;
  box-sizing: border-box;
}

#box .farm > ul > li .img_view > img {
  width: 2.61rem;
  height: 1.9rem;
}

#box .farm > ul > li .word_explain {
  flex: 1;
  height: 100%;
  padding-left: 0.2rem;
  box-sizing: border-box;
}

#box .farm > ul > li .word_explain > h3 {
  height: 0.34rem;
  padding-top: 0.18rem;
  font-size: 0.28rem;
  color: #333;
  font-family: 'Micorsoft Yahei';
}

#box .farm > ul > li .word_explain .explain1 {
  padding-top: 0.05rem;
  height: 0.65rem;
  width: 100%;
  padding-right: 0.5rem;
  box-sizing: border-box;
  font-size: 0.2rem;
  color: #333;
  line-height: 0.3rem;
}

#box .farm > ul > li .word_explain .address {
  margin-top: 0.08rem;
  font-size: 0.18rem;
  color: #676767;
}

#box .farm > ul > li .word_explain .now_see {
  width: 1.3rem;
  height: 0.5rem;
  border-radius: 0.1rem;
  background: #60a42b;
  font-size: 0.24rem;
  color: #fcfcfc;
  text-align: center;
  line-height: 0.5rem;
  display: block;
  margin-left: 2.55rem;
  margin-top: -0.1rem;
}

#box .footer {
  margin-top: 0.08rem;
  width: 100%;
  height: 0.98rem;
  background: #fdfffc;
  padding: 0.08rem 0.16rem 0 0.16rem;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  justify-content: space-between;
  align-items: center;
}

#box .footer .farm_top {
  width: 0.56rem;
  height: 100%;
  padding-top: 0.56rem;
  background: url(../img/farm_top.png) no-repeat -0.03rem 0;
  background-size: 0.52rem 0.5rem;
  font-size: 0.2rem;
  color: #61a52e;
  box-sizing: border-box;
}

#box .footer .sort_farm {
  width: 0.56rem;
  height: 100%;
  background: url(../img/sort.png) no-repeat;
  background-size: 0.47rem 0.5rem;
  font-size: 0.2rem;
  color: #666;
  padding-top: 0.56rem;
  box-sizing: border-box;
}

#box .footer .mine {
  width: 0.56rem;
  height: 100%;
  background: url(../img/mine.png) no-repeat;
  background-size: 0.47rem 0.5rem;
  font-size: 0.2rem;
  color: #666;
  padding-top: 0.56rem;
  box-sizing: border-box;
}