*{margin:0; padding:0;}
h1,h2,h3,h4,h5,h6,p{font-weight:normal; font-size:16px;line-height:100%;}
a{color:#000; text-decoration:none;}
b,strong{font-weight:normal; }
i,em{font-style:normal;}
li{list-style:none;}
.fl{float:left;}
.fr{float:right;}
.clearfix:after{display:block; content:''; clear:both;}
.clearfix{zoom:1}
img{vertical-align:top;}
input{background:none; outline:none; }
table{border-collapse:collapse;}
